.DS_Store
node_modules
/.svelte-kit
packages/*/lib
packages/*/dist
packages/*/coverage
/functions
/static/tailwind.css
/src/lib/sampledata.json
.env
.env.*
!.env.example
coverage
.vscode
.turbo
/upload

# Local Netlify folder
.netlify
