.DS_Store
node_modules
/.svelte-kit
packages/*/lib
packages/*/dist
packages/*/coverage
/functions
/static/tailwind.css
/src/lib/sampledata.json
.env
.env.*
!.env.example
coverage
.vscode
.turbo
/upload
svelte-mono.code-workspace
.prettierrc
.eslintrc.cjs
.eslintignore
.kanbn

# Local Netlify folder
.netlify
