@tailwind base;
@tailwind components;
@tailwind utilities;

/* raleway-300 - latin */
@font-face {
	font-display: swap;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/raleway-v28-latin-300.woff2') format('woff2'),
		url('/fonts/raleway-v28-latin-300.woff') format('woff');
}

/* raleway-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/raleway-v28-latin-regular.woff2') format('woff2'),
		url('/fonts/raleway-v28-latin-regular.woff') format('woff');
}

/* raleway-500 - latin */
@font-face {
	font-display: swap;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/raleway-v28-latin-500.woff2') format('woff2'),
		url('/fonts/raleway-v28-latin-500.woff') format('woff');
}

/* raleway-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Raleway';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/raleway-v28-latin-700.woff2') format('woff2'),
		url('/fonts/raleway-v28-latin-700.woff') format('woff');
}

/* roboto-300 - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/roboto-v30-latin-300.woff2') format('woff2'),
		url('/fonts/roboto-v30-latin-300.woff') format('woff');
}

/* roboto-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/roboto-v30-latin-regular.woff2') format('woff2'),
		url('/fonts/roboto-v30-latin-regular.woff') format('woff');
}

/* roboto-italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/roboto-v30-latin-italic.woff2') format('woff2'),
		url('/fonts/roboto-v30-latin-italic.woff') format('woff');
}

/* roboto-500 - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/roboto-v30-latin-500.woff2') format('woff2'),
		url('/fonts/roboto-v30-latin-500.woff') format('woff');
}

/* roboto-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/roboto-v30-latin-700.woff2') format('woff2'),
		url('/fonts/roboto-v30-latin-700.woff') format('woff');
}

/* roboto-700italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	src: url('/fonts/roboto-v30-latin-700italic.woff2') format('woff2'),
		url('/fonts/roboto-v30-latin-700italic.woff') format('woff');
}

/* noto-sans-300 - latin */
@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 300;
	src: url('/fonts/noto-sans-v27-latin-300.woff2') format('woff2'),
		url('/fonts/noto-sans-v27-latin-300.woff') format('woff');
}

/* noto-sans-regular - latin */
@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/noto-sans-v27-latin-regular.woff2') format('woff2'),
		url('/fonts/noto-sans-v27-latin-regular.woff') format('woff');
}

/* noto-sans-italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 400;
	src: url('/fonts/noto-sans-v27-latin-italic.woff2') format('woff2'),
		url('/fonts/noto-sans-v27-latin-italic.woff') format('woff');
}

/* noto-sans-500 - latin */
@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	src: url('/fonts/noto-sans-v27-latin-500.woff2') format('woff2'),
		url('/fonts/noto-sans-v27-latin-500.woff') format('woff');
}

/* noto-sans-700 - latin */
@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	src: url('/fonts/noto-sans-v27-latin-700.woff2') format('woff2'),
		url('/fonts/noto-sans-v27-latin-700.woff') format('woff');
}

/* noto-sans-700italic - latin */
@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 700;
	src: url('/fonts/noto-sans-v27-latin-700italic.woff2') format('woff2'),
		url('/fonts/noto-sans-v27-latin-700italic.woff') format('woff');
}

@font-face {
	font-family: 'Hack';
	src: url('/fonts/hack-regular-subset.woff2?sha=3114f1256') format('woff2'), url('/fonts/hack-regular-subset.woff?sha=3114f1256') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}


@font-face {
	font-family: 'Hack';
	src: url('/fonts/hack-italic-subset.woff2?sha=3114f1256') format('woff2'), url('/fonts/hack-italic-webfont.woff?sha=3114f1256') format('woff');
	font-weight: 400;
	font-style: italic;
	font-display: swap;
}


@layer components {
	body {
		--brand-accent: var(--accent-color);
		/* https://ishadeed.com/article/defensive-css */
		overflow-wrap: break-word;
		overflow-y: auto;
		scrollbar-gutter: stable;
	}

	:focus-visible {
		outline: 2px solid var(--accent-color);
	}

	::selection {
		color: var(--black);
		background-color: var(--accent-color);
	}

	::strong {
		color: current;
		font-weight: 700;
	}

	.dark ::selection {
		color: #1d1d1d;
	}

	:is(::-webkit-calendar-picker-indicator,
		::-webkit-clear-button,
		::-webkit-inner-spin-button,
		::-webkit-outer-spin-button) {
		color: var(--accent-color);
	}

	details>summary>*:first-child {
		display: inline;
	}

	img {
		/* https://ishadeed.com/article/defensive-css */
		max-width: 100%;
		object-fit: cover;
		background-color: grey;
	}

	ul,
	ol {
		list-style: revert;
	}
}

:root {
	--max-width: 704px;

	--no-hue: 0;
	--red-hue: 0;
	--red-orange-hue: 16;
	--cadmium-orange-hue: 22;
	--orange-hue: 30;
	--orange-yellow-hue: 45;
	--gold-hue: 51;
	--yellow-hue: 60;
	--yellow-green-hue: 75;
	--lime-hue: 90;
	--chartreuse-hue: 105;
	--green-hue: 120;
	--spring-green-hue: 135;
	--sea-green-hue: 150;
	--turquoise-hue: 165;
	--teal-hue: 180;
	--slate-blue-hue: 210;
	--royal-blue-hue: 225;
	--blue-hue: 240;
	--indigo-hue: 256;
	--magenta-hue: 298;
	--bright-red-hue: 348;

	--default-sat: 89%;
	--max-sat: 100%;
	--min-sat: 0%;

	--default-light: 47%;
	--no-light: 0%;
	--full-light: 100%;
	--shade1-light: calc(var(--default-light) - 5%);
	--shade2-light: calc(var(--default-light) - 10%);
	--tint1-light: calc(var(--default-light) + 5%);
	--tint2-light: calc(var(--default-light) + 10%);

	--white: hsl(0 0% 93%);
	--white-shade1: hsl(0 0% 88%);
	--white-shade2: hsl(0 0% 83%);
	--white-shade3: hsl(0 0% 78%);
	--white-shade4: hsl(0 0% 73%);
	--white-shade5: hsl(0 0% 68%);
	--gray: hsl(0 0% 63%);
	--gray-shade1: hsl(0 0% 58%);
	--gray-shade2: hsl(0 0% 53%);
	--gray-shade3: hsl(0 0% 48%);
	--gray-shade4: hsl(0 0% 43%);
	--gray-shade5: hsl(0 0% 38%);
	--gray-shade6: hsl(0 0% 33%);
	--dark-gray: hsl(0 0% 28%);
	--dark-gray-shade1: hsl(0 0% 23%);
	--dark-gray-shade2: hsl(0 0% 20%);
	--black-tint3: hsl(0 0% 15%);
	--black-tint2a: hsl(0 0% 12%);
	--black-tint2: hsl(0 0% 10%);
	--black-tint1a: hsl(0, 0%, 8%);
	--black-tint1: hsl(0, 0%, 5%);
	--black: hsl(0, 0%, 0%);

	--red-orange-shade2: hsl(10 89% 37%);
	--red-orange-shade1: hsl(10 89% 42%);
	--red-orange: hsl(10 89% 47%);
	--red-orange-tint1: hsl(10 89% 52%);
	--red-orange-tint2: hsl(10 89% 57%);

	--yellow-shade2: hsl(60 89% 37%);
	--yellow-shade1: hsl(60 89% 42%);
	--yellow: hsl(60 89% 47%);
	--yellow-tint1: hsl(60 89% 52%);
	--yellow-tint2: hsl(60 89% 57%);

	--yellow-green-shade2: hsl(76 89% 37%);
	--yellow-green-shade1: hsl(76 89% 42%);
	--yellow-green: hsl(76 89% 47%);
	--yellow-green-tint1: hsl(76 89% 52%);
	--yellow-green-tint2: hsl(76 89% 57%);

	--green-shade2: hsl(140 89% 37%);
	--green-shade1: hsl(140 89% 42%);
	--green: hsl(140 89% 47%);
	--green-tint1: hsl(140 89% 52%);
	--green-tint2: hsl(140 89% 57%);

	--aqua-shade2: hsl(168 89% 37%);
	--aqua-shade1: hsl(168 89% 42%);
	--aqua: hsl(168 89% 47%);
	--aqua-tint1: hsl(168 89% 52%);
	--aqua-tint2: hsl(168 89% 57%);

	--teal-shade2: hsl(var(--teal-hue) var(--default-sat) var(--shade2-light));
	--teal-shade1: hsl(var(--teal-hue) var(--default-sat) var(--shade1-light));
	--teal: hsl(var(--teal-hue) var(--default-sat) var(--default-light));
	--teal-tint1: hsl(185 89% 52%);
	--teal-tint2: hsl(185 89% 57%);

	--blue-shade2: hsl(215 89% 37%);
	--blue-shade1: hsl(215 89% 42%);
	--blue: hsl(215 89% 47%);
	--blue-tint1: hsl(215 89% 52%);
	--blue-tint2: hsl(215 89% 57%);

	--indigo-shade2: hsl(256 89% 37%);
	--indigo-shade1: hsl(256 89% 42%);
	--indigo: hsl(256 89% 47%);
	--indigo-tint1: hsl(256 89% 52%);
	--indigo-tint2: hsl(256 89% 57%);

	--purple3: hsl(261, 100%, 72%);

	--magenta-shade2: hsl(298 89% 37%);
	--magenta-shade1: hsl(298 89% 42%);
	--magenta: hsl(298 89% 47%);
	--magenta-tint1: hsl(298 89% 52%);
	--magenta-tint2: hsl(298 89% 57%);

	--accent-color-hue: 76;
	--accent-color-sat: 100%;
	--accent-color-light: 50%;
	--accent-color-dim-light: 29%;
	--default-icon: var(--white);

	--accent-color: hsl(var(--accent-color-hue) var(--accent-color-sat) var(--accent-color-light));
	--accent-color-dim: hsl(var(--accent-color-hue) var(--accent-color-sat) calc(var(--accent-color-light) - 30%));
	/* --accent-color: hsl(148, 100%, 50%);
	--accent-color-dim: hsl(148 98.1% 28.6%); */

	--home-section-color: var(--accent-color);
	--projects-section-color: var(--pink-icon);
	--blog-section-color: var(--blue-icon);
	--about-section-color: var(--green-icon);

	/* Custom properties from the old site */
	--note: hsl(180, 100%, 50%);
	--warning: hsl(60, 100%, 50%);
	--note-hue: 180;
	--warning-hue: 60;
	--border-light: 55%;
	--bg-light: 55%;
	--text-light: 65%;
	--border-alpha: 0.25;
	--text-alpha: 1;
	--bg-alpha: 0.05;

	--code-text-color1: #0ff;

	/* Drop Shadow */
	--outer-shadow: 0 3px 3px rgba(0, 0, 0, 0.2), 0 3px 20px rgba(0, 0, 0, 0.3);
	--inner-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.3);

	--cmd-black0: hsl(0, 0%, 6%);
	--cmd-mid-gray2: hsl(0, 0%, 50%);
	--cmd-light-gray2: hsl(0, 0%, 70%);
	--cmd-off-white2: hsl(0, 0%, 85%);
	--cmd-red1: hsl(0, 100%, 57%);
	--cmd-orange1: hsl(20, 100%, 57%);
	--cmd-gold1: hsl(45, 100%, 40%);
	--cmd-gold2: hsl(45, 100%, 68%);
	--cmd-gold3: hsl(45, 100%, 65%);
	--cmd-yellow1: hsl(59, 100%, 32%);
	--cmd-yellow3: hsl(60, 100%, 50%);
	--cmd-green1: hsl(93, 100%, 35%);
	--cmd-green3: hsl(120, 100%, 50%);
	--cmd-teal2: hsl(171, 100%, 53%);
	--cmd-blue3: hsl(180, 100%, 50%);
	--cmd-purple1-hov: hsl(261, 100%, 35%);
	--cmd-purple1: hsl(261, 100%, 45%);
	--cmd-purple2: hsl(261, 100%, 55%);
	--cmd-purple3: hsl(261, 100%, 72%);
	--cmd-magenta3: hsl(300, 100%, 50%);
	--cmd-pink2: hsl(338, 100%, 56%);
	--cmd-pink3: hsl(342, 100%, 64%);

	/* Command-line/Python REPL */
	--widget-bg-color: #141414;
	--cmd-lineno: var(--cmd-light-gray2);
	--cmd-lineno-hl: var(--cmd-yellow3);
	--cmd-prompt: var(--cmd-mid-gray2);
	--cmd-prompt-venv: var(--cmd-magenta3);
	--cmd-input: var(--cmd-green3);
	--cmd-results: var(--cmd-off-white2);
	--cmd-comments: var(--cmd-blue3);
	--cmd-repl-prompt: var(--cmd-blue3);
	--cmd-repl-comment: var(--cmd-mid-gray2);
	--cmd-warning: var(--cmd-red1);
	--cmd-hl-border: var(--cmd-yellow3);
	--hl-line-bg: linear-gradient(to right,
			var(--black-tint3),
			var(--black-tint2) 60%,
			var(--black-tint1a),
			rgba(0, 0, 0, 0));

	--code-block-border-color: =var(--gray-shade5);

	/* --post-title-text-color: hsl(148deg 100% 50% / 0.85);
	-webkit-text-stroke: 1px hsl(0, 0%, 8%);
	--post-title-text-shadow-color1: hsl(0 0% 25% / 0.7);
	--post-title-text-shadow-color2: hsl(0 0% 25% / 0.6);
	--post-title-text-shadow-color3: hsl(0 0% 25% / 0.5); */

	/* Post Title */
	--post-title-text-color: var(--white-shade1);
	--post-title-text-stroke: var(--black-tint2);
	--post-title-text-shadow-color: hsl(0 0% 30% / 0.8);

	--shadow-color: 194deg 84% 18%;
	--shadow-elevation-medium: -1px 1px 1.6px hsl(var(--shadow-color) / 0.36),
		-3.3px 3.3px 5.3px -0.8px hsl(var(--shadow-color) / 0.36), -8.2px 8.2px 13px -1.7px hsl(var(--shadow-color) / 0.36),
		-20px 20px 31.8px -2.5px hsl(var(--shadow-color) / 0.36);

	scroll-behavior: smooth;

	--mobile-page-padding: 2rem;

	/* Project README */
	--details-header-bg-color: var(--black-tint2);
	--details-header-hover-bg-color: var(--black-tint2);
	--details-header-text-color: var(--white-shade1);

	--dl-bg-color: var(--page-bg-color);
	--dl-border-color: var(--black-tint3);
	--dt-text-color: var(--body-text);
	--dd-text-color: var(--body-text);

	--inner-details-header-bg-color: var(--black-tint2);
	--inner-details-header-hover-bg-color: var(--black-tint2);
	--inner-details-header-text-color: var(--white-shade1);

	--inner-dl-bg-color: var(--black-tint2);
	--inner-dl-border-color: var(--page-bg-color);
}

body {
	--header-bg-color: var(--black-tint2);
	--page-bg-color: var(--black-tint1);
	--body-text: var(--white-shade2);

	--button-bg-color: var(--black-tint3);
	--button-hover-bg-color: var(--black-tint1);

	/* --typescript-color-h: 298;
	--javascript-color-h: 60;
	--shell-color-h: 256;
	--python-color-h: 140;
	--csharp-color-h: 168;
	--svelte-color-h: 30;
	--nodejs-color-h: 256;
	--css-color-h: 298; */

	--g-color-1: var(--indigo);
	--g-color-2: var(--teal);
	--g-color-1-dim: hsl(185 9% 20%);
	--g-color-2-dim: hsl(215 9% 20%);
	--g-color-3-dim: hsl(256 9% 20%);
	--gradient: linear-gradient(to right, hsl(254.04 100% 55%), hsl(180 100% 49%));
	--gradient: linear-gradient(to right, oklch(49.6% 0.307 278.18), oklch(88.4% 0.199 194.78));

	--code-block-bg-color: #141414;
	--code-block-border-color: var(--dark-gray-shade2);
	--toggle-group-bg-color: var(--code-block-bg-color);
	background-color: var(--page-bg-color);
	font-family: 'Roboto', Inter, Arial, Helvetica, sans-serif;
	letter-spacing: 0.4px;
}

/* 
  CUSTOM SCROLLBARS! 
  - https://css-tricks.com/strut-your-stuff-with-a-custom-scrollbar/
  */

body {
	--scroll-bar-start-color: hsl(215.63 100% 48%);
	--scroll-bar-start-color: oklch(54.7% 0.267 260.55);
	--scroll-bar-stop-color: hsl(261, 100%, 55%);
	--scroll-bar-stop-color: oklch(51.8% 0.304 286.07);
	--scrollbarBG: var(--page-bg-color);
	--thumbBG: var(--teal);
	overflow: scroll;
	/* https://maxschmitt.me/posts/react-prevent-layout-shift-body-scrollable/ */
	scrollbar-width: thin;
	scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}

body::-webkit-scrollbar {
	width: 0.5rem;
	height: 0.5rem;
}

body::-webkit-scrollbar-thumb {
	background: linear-gradient(var(--scroll-bar-start-color), var(--scroll-bar-stop-color));
	border-radius: 0;
	border: 2px solid var(--scrollbarBG);
}

body::-webkit-scrollbar-track {
	background: var(--scrollbarBG);
}

body::-webkit-scrollbar-corner {
	background: var(--scrollbarBG);
}

body:has(.nav-sidebar.open) {
	--scroll-bar-start-color: var(--black-tint2);
	--scroll-bar-stop-color: var(--black-tint2);
}

body:has(.nav-sidebar.open)::-webkit-scrollbar-track {
	background: var(--black-tint2);
}

body:has(.nav-sidebar.open)::-webkit-scrollbar-corner {
	background: var(--black-tint2);
}

body:has(.nav-sidebar.open)::-webkit-scrollbar-thumb {
	border: 2px solid var(--black-tint2);
}

.normal-text svg {
	display: inline;
	width: 14px;
	margin: 0 2px 4px 2px;
}

@media (min-width: 640px) {
	.normal-text svg {
		width: 16px;
		margin: 0 2px 4px 2px;
	}
}

@media (min-width: 768px) {
	.normal-text svg {
		width: 19.5px;
		margin: 0 3px 6px 3px;
	}
}

.home .section-header {
	background-color: hsl(76 100% 50%);
	background-color: oklch(92.22% 0.244 126.84);
}

.blog .section-header {
	background-color: hsl(173.22 100% 65%);
	background-color: oklch(90.73% 0.159 184.005);
}

.projects .section-header {
	background-color: hsl(161.67 100% 49%);
	background-color: oklch(86.7% 0.257 162.2);
}

.about .section-header {
	background-color: hsl(31.45 100% 60%);
	background-color: oklch(78% 0.203 62.72);
}

.red,
.error {
	color: hsl(3.91 100% 58%);
	color: oklch(65.2% 0.293 29.234);
}

.orange {
	color: hsl(26.03 100% 59%);
	color: oklch(74.9% 0.214 52.98);
}

.yellow {
	color: hsl(54.67 100% 50%);
	color: oklch(92.1% 0.221 102.285);
}

.accent-color,
.yellow-green {
	color: hsl(76 100% 50%);
	color: oklch(92.22% 0.244 126.84);
}

.green,
.success {
	color: hsl(93.52 100% 50%);
	color: oklch(87.8% 0.312 137.52);
}

.teal,
.projects nav a {
	color: hsl(161.67 100% 49%);
	color: oklch(86.7% 0.257 162.2);
}

.blue,
.blog nav a {
	color: hsl(173.22 100% 65%);
	color: oklch(90.73% 0.159 184.005);
}

.dark-blue {
	color: hsl(215.63 100% 48%);
	color: oklch(54.7% 0.267 260.55);
}

.purple {
	color: hsl(261, 100%, 55%);
	color: oklch(51.8% 0.304 286.07);
}

.pink {
	color: hsl(322.21 100% 64%);
	color: oklch(69.8% 0.313 346.56);
}

.accent-color-dim {
	color: oklch(77.2% 0.229 126.4);
	color: hsl(75.87 100% 40%);
}

/* START */

.project-category.red {
	border-color: hsl(3.91 100% 58%);
	border-color: oklch(65.2% 0.293 29.234);
}

.project-category.orange {
	border-color: hsl(26.03 100% 59%);
	border-color: oklch(74.9% 0.214 52.98);
}

.project-category.yellow {
	border-color: hsl(54.67 100% 50%);
	border-color: oklch(92.1% 0.221 102.285);
}

.project-category.yellow-green {
	border-color: hsl(76 100% 50%);
	border-color: oklch(92.22% 0.244 126.84);
}

.project-category.green {
	border-color: hsl(93.52 100% 50%);
	border-color: oklch(87.8% 0.312 137.52);
}

.project-category.project-category.teal {
	border-color: hsl(161.67 100% 49%);
	border-color: oklch(86.7% 0.257 162.2);
}

.project-category.blue {
	border-color: hsl(173.22 100% 65%);
	border-color: oklch(90.73% 0.159 184.005);
}

.project-category.dark-blue {
	border-color: hsl(215.63 100% 48%);
	border-color: oklch(54.7% 0.267 260.55);
}

.project-category.purple {
	border-color: hsl(261, 100%, 55%);
	border-color: oklch(51.8% 0.304 286.07);
}

.project-category.pink {
	border-color: hsl(322.21 100% 64%);
	border-color: oklch(69.8% 0.313 346.56);
}

/* END */

/* START */

.icon label {
	background-color: var(--black-tint2);
}

.icon label.selected {
	background-color: var(--dark-gray-shade1);
}

.no-icon label {
	background-color: var(--page-bg-color);
	border-width: 2px;
	border-style: solid;
}

.no-icon label.selected,
.no-icon label.hovered {
	color: var(--black);
	background-color: var(--default-icon);
}

.no-icon label.selected.red,
.no-icon label.hovered.red {
	background-color: hsl(3.91 100% 58%);
	background-color: oklch(65.2% 0.293 29.234);
}

.no-icon label.red {
	border-color: hsl(3.91 100% 58%);
	border-color: oklch(65.2% 0.293 29.234);
}

.no-icon label.selected.orange,
.no-icon label.hovered.orange {
	background-color: hsl(26.03 100% 59%);
	background-color: oklch(74.9% 0.214 52.98);
}

.no-icon label.orange {
	border-color: hsl(26.03 100% 59%);
	border-color: oklch(74.9% 0.214 52.98);
}

.no-icon label.selected.yellow,
.no-icon label.hovered.yellow {
	background-color: hsl(54.67 100% 50%);
	background-color: oklch(92.1% 0.221 102.285);
}

.no-icon label.yellow {
	border-color: hsl(54.67 100% 50%);
	border-color: oklch(92.1% 0.221 102.285);
}

.no-icon label.selected.yellow-green,
.no-icon label.hovered.yellow-green {
	background-color: hsl(76 100% 50%);
	background-color: oklch(92.22% 0.244 126.84);
}

.no-icon label.yellow-green {
	border-color: hsl(76 100% 50%);
	border-color: oklch(92.22% 0.244 126.84);
}

.no-icon label.selected.green,
.no-icon label.hovered.green {
	background-color: hsl(93.52 100% 50%);
	background-color: oklch(87.8% 0.312 137.52);
}

.no-icon label.green {
	border-color: hsl(93.52 100% 50%);
	border-color: oklch(87.8% 0.312 137.52);
}

.no-icon label.selected.teal,
.no-icon label.hovered.teal {
	background-color: hsl(161.67 100% 49%);
	background-color: oklch(86.7% 0.257 162.2);
}

.no-icon label.teal {
	border-color: hsl(161.67 100% 49%);
	border-color: oklch(86.7% 0.257 162.2);
}

.no-icon label.selected.blue,
.no-icon label.hovered.blue {
	background-color: hsl(173.22 100% 65%);
	background-color: oklch(90.73% 0.159 184.005);
}

.no-icon label.blue {
	border-color: hsl(173.22 100% 65%);
	border-color: oklch(90.73% 0.159 184.005);
}

.no-icon label.selected.dark-blue,
.no-icon label.hovered.dark-blue {
	background-color: hsl(215.63 100% 48%);
	background-color: oklch(54.7% 0.267 260.55);
}

.no-icon label.dark-blue {
	border-color: hsl(215.63 100% 48%);
	border-color: oklch(54.7% 0.267 260.55);
}

.no-icon label.selected.purple,
.no-icon label.hovered.purple {
	background-color: hsl(261, 100%, 55%);
	background-color: oklch(51.8% 0.304 286.07);
}

.no-icon label.purple {
	border-color: hsl(261, 100%, 55%);
	border-color: oklch(51.8% 0.304 286.07);
}

.no-icon label.selected.pink,
.no-icon label.hovered.pink {
	background-color: hsl(322.21 100% 64%);
	background-color: oklch(69.8% 0.313 346.56);
}

.no-icon label.pink {
	border-color: hsl(322.21 100% 64%);
	border-color: oklch(69.8% 0.313 346.56);
}

/* END */

.no-icon .filter-setting {
	color: var(--default-icon);
	background-color: var(--black);
}

.no-icon .filter-setting.hovered,
.no-icon .filter-setting.selected {
	color: var(--black);
	background-color: var(--default-icon);
}

.no-icon .filter-setting.red {
	color: hsl(3.91 100% 58%);
	color: oklch(65.2% 0.293 29.234);
	background-color: var(--black);
}

.no-icon .filter-setting.red.hovered,
.no-icon .filter-setting.red.selected {
	color: var(--black);
	background-color: hsl(3.91 100% 58%);
	background-color: oklch(65.2% 0.293 29.234);
}

.no-icon .filter-setting.orange {
	color: hsl(26.03 100% 59%);
	color: oklch(74.9% 0.214 52.98);
	background-color: var(--black);
}

.no-icon .filter-setting.orange.hovered,
.no-icon .filter-setting.orange.selected {
	color: var(--black);
	background-color: hsl(26.03 100% 59%);
	background-color: oklch(74.9% 0.214 52.98);
}

.no-icon .filter-setting.yellow {
	color: hsl(54.67 100% 50%);
	color: oklch(92.1% 0.221 102.285);
	background-color: var(--black);
}

.no-icon .filter-setting.yellow.hovered,
.no-icon .filter-setting.yellow.selected {
	color: var(--black);
	background-color: hsl(54.67 100% 50%);
	background-color: oklch(92.1% 0.221 102.285);
}

.no-icon .filter-setting.yellow-green {
	color: hsl(76 100% 50%);
	color: oklch(92.22% 0.244 126.84);
	background-color: var(--black);
}

.no-icon .filter-setting.yellow-green.hovered,
.no-icon .filter-setting.yellow-green.selected {
	color: var(--black);
	background-color: hsl(76 100% 50%);
	background-color: oklch(92.22% 0.244 126.84);
}

.no-icon .filter-setting.green {
	color: hsl(93.52 100% 50%);
	color: oklch(87.8% 0.312 137.52);
	background-color: var(--black);
}

.no-icon .filter-setting.green.hovered,
.no-icon .filter-setting.green.selected {
	color: var(--black);
	background-color: hsl(93.52 100% 50%);
	background-color: oklch(87.8% 0.312 137.52);
}

.no-icon .filter-setting.teal {
	color: hsl(161.67 100% 49%);
	color: oklch(86.7% 0.257 162.2);
	background-color: var(--black);
}

.no-icon .filter-setting.teal.hovered,
.no-icon .filter-setting.teal.selected {
	color: var(--black);
	background-color: hsl(161.67 100% 49%);
	background-color: oklch(86.7% 0.257 162.2);
}

.no-icon .filter-setting.blue {
	color: hsl(173.22 100% 65%);
	color: oklch(90.73% 0.159 184.005);
	background-color: var(--black);
}

.no-icon .filter-setting.blue.hovered,
.no-icon .filter-setting.blue.selected {
	color: var(--black);
	background-color: hsl(173.22 100% 65%);
	background-color: oklch(90.73% 0.159 184.005);
}

.no-icon .filter-setting.dark-blue {
	color: hsl(215.63 100% 48%);
	color: oklch(54.7% 0.267 260.55);
	background-color: var(--black);
}

.no-icon .filter-setting.dark-blue.hovered,
.no-icon .filter-setting.dark-blue.selected {
	color: var(--black);
	background-color: hsl(215.63 100% 48%);
	background-color: oklch(54.7% 0.267 260.55);
}

.no-icon .filter-setting.purple {
	color: hsl(261, 100%, 55%);
	color: oklch(51.8% 0.304 286.07);
	background-color: var(--black);
}

.no-icon .filter-setting.purple.hovered,
.no-icon .filter-setting.purple.selected {
	color: var(--black);
	background-color: hsl(261, 100%, 55%);
	background-color: oklch(51.8% 0.304 286.07);
}

.no-icon .filter-setting.pink {
	color: hsl(322.21 100% 64%);
	color: oklch(69.8% 0.313 346.56);
	background-color: var(--black);
}

.no-icon .filter-setting.pink.hovered,
.no-icon .filter-setting.pink.selected {
	color: var(--black);
	background-color: hsl(322.21 100% 64%);
	background-color: oklch(69.8% 0.313 346.56);
}

/* END */

/* Project README details */

.readme details:not(#table-of-contents) {
	display: block;
	margin: 1rem 0;
}

.readme details:not(#table-of-contents) ul {
	margin: 0;
	padding: 0 0 0 2rem;
	border: 1px solid var(--page-bg-color);
	background-color: var(--dl-bg-color);
}

@media (max-width: 768px) {
	.readme details:not(#table-of-contents) ul {
		padding: 0 0 0 1.5rem;
	}
}

.readme details:not(#table-of-contents) ul ul {
	border: none;
	margin: 0;
	padding: 0 0 0 1.5rem;
}

.readme details:not(#table-of-contents)>div {
	border: 1px solid var(--dl-border-color);
	background-color: var(--dl-bg-color);
	padding: 0.5rem 1rem;
}

@media (max-width: 768px) {
	.readme details:not(#table-of-contents)>div {
		padding: 0.5rem 1rem;
	}
}

.readme details:not(#table-of-contents) summary::-webkit-details-marker {
	display: none;
}

.readme details summary {
	display: flex !important;
	cursor: pointer;
	color: var(--details-header-text-color);
	background-color: var(--details-header-bg-color);
	border: 1px solid var(--dl-border-color);
	padding: 0.5rem;
	line-height: 1;
	list-style: none;
	transition: all 0.3s;
}

.readme [open]>summary {
	background-color: var(--details-header-hover-bg-color);
	border-top: 1px solid var(--dl-border-color);
	border-left: 1px solid var(--dl-border-color);
	border-right: 1px solid var(--dl-border-color);
	border-bottom: none !important;
}

.readme summary>div {
	display: flex;
	gap: 0.75rem;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}

.readme summary>div>span>strong>h3,
.readme summary>div>span>strong>h4 {
	font-size: 1.05rem;
	;
}

.readme summary div>span>strong>h6 {
	font-size: 0.95rem;
}

.readme summary>div>span>strong>h3,
.readme summary>div>span>strong>h4,
.readme summary div>span>strong>h6 {
	margin: 0;
}

.readme summary>div>div {
	height: 16px;
	transition: transform 0.3s ease-in;
}

.readme [open]>summary>div>div {
	transform: rotate(90deg);
}

.readme details:not(#table-of-contents) summary>div>div>svg {
	height: 100%;
}

.readme summary:hover {
	background-color: var(--details-header-hover-bg-color);
}

.readme div.prop-group-ref {
	font-style: italic;
	padding: 0.5rem;
}

.readme br {
	display: none;
}

.readme .footnotes {
	display: flex;
	flex-flow: column nowrap;
	margin: 1rem 0.5rem 2rem 0.5rem;
	padding: 0 !important;
	background-color: var(--dl-bg-color);
	border: none !important
}

.readme .footnote {
	display: flex;
	flex-flow: row nowrap;
	border: none;
	background-color: var(--dl-bg-color);
	padding: 0;
	align-items: baseline;
	font-size: 0.7rem;
}

.readme .fn,
.readme .footnote .symbol {
	font-weight: 700;
	color: hsl(173.22 100% 65%);
	color: oklch(90.73% 0.159 184.005);
	font-size: 86%;
}

.readme .footnote .symbol {
	min-width: 12px;
	text-align: center;
}

.readme .note strong {
	color: var(--white-shade2);
}

.prose p,
.prose p a,
.prose ul,
.prose ul li,
.prose div.prop-group-ref {
	font-family: 'Noto Sans', Inter, Arial, Helvetica, sans-serif;
	font-size: 0.9rem;
}

@media (min-width: 640px) {

	.prose p,
	.prose p a,
	.prose ul,
	.prose ul li,
	.prose div.prop-group-ref {
		font-size: 0.9rem;
	}
}

article.readme .wrapper>ul {
	margin: 1.25rem 0 1.25rem 1.25rem;
}


.readme .prose dl,
.readme .prose details:not(#table-of-contents)>div,
.readme .prose details p,
.readme .prose details p a,
.readme .prose details ul,
.readme .prose details ul li {
	font-size: 0.8rem;
}

/* END */

/* Project README dl */

.readme dl {
	display: grid;
	grid-template-columns: auto 1fr;
	background-color: var(--dl-bg-color);
	border-left: 1px solid var(--dl-border-color);
	border-right: 1px solid var(--dl-border-color);
	margin: 0;
	line-height: 1.5;
}

.readme dt {
	place-self: stretch;
	text-align: right;
	color: var(--dt-text-color);
	border-bottom: 1px solid var(--dl-border-color);
	padding: 0.5rem;
}

.readme dd {
	place-self: center;
	color: var(--dd-text-color);
	border-bottom: 1px solid var(--dl-border-color);
	padding: 0.5rem;
	margin: 0;
	width: 100%;
	;
}

.readme .prose details p:first-child {
	margin-top: 0;
}

.readme .prose details p:last-child {
	margin-bottom: 0;
}

.readme .wrapper div dl dt {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	gap: 0.5rem;
}

.readme .wrapper div dl dt strong {
	font-weight: 700;
	min-width: 35px;
	padding: 5px;
	line-height: 1;
	text-align: center;
	text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
}

.readme .wrapper div dl dt code {
	background-color: var(--black-tint2);
}

kbd {
	font-size: 0.8em;
	margin: 0 1px;
	padding: 3px 4px;
	color: var(--cmd-yellow3);
	background-color: var(--black-tint3);
	border: 0.5px solid var(--dark-gray-shade2);
	border-radius: 4px;
	box-shadow: var(--outer-shadow);
}

article .heading-text a {
	color: var(--gray-shade6);
	background-color: var(--page-bg-color);
	transition: color 0.75s ease-out;
	margin-left: 2px;
}

article .heading-text a:hover {
	color: hsl(76 100% 50%);
	color: oklch(92.22% 0.244 126.84);
	background-color: var(--page-bg-color);
}

summary .heading-text a,
summary .heading-text a:hover {
	background-color: var(--details-header-hover-bg-color);
}

article figure {
	text-align: center;
	display: block;
	margin: 0 auto 20px;
	width: 80%;
}

article figure img {
	border: 1px solid var(--mid-gray2);
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
	vertical-align: bottom;
}

figcaption p {
	text-align: center;
	color: var(--gray-shade3);
	font-weight: 400;
	font-size: 0.9rem;
	font-style: italic;
}

.flex-row,
.flex-container {
	display: flex;
	flex-flow: row wrap;
	align-items: flex-end;
}

.flex-item {
	flex: 0 0 50%;
}

.level-2 a.hanchor svg {
	width: 16px;
	margin-top: 4px;
}

article .level-2 h2,
article .level-3 h3,
article .level-4 h4,
article .level-5 h5,
article .level-6 h6 {
	flex: 1;
	line-height: 1.2;
}


article .level-2 h2 {
	font-size: 1.5rem;

}

.level-2 code {
	color: var(--tw-prose-headings);
	font-size: 1.4rem;
}

.level-3 a.hanchor svg {
	width: 14px;
	margin-top: 3px;
}

article .level-3 h3 {
	font-size: 1.3rem;
}

.level-3 code {
	color: var(--tw-prose-headings);
	font-size: 1.2rem;
}

.level-4 a.hanchor svg,
.level-5 a.hanchor svg,
.level-6 a.hanchor svg {
	width: 13px;
	margin-top: 3px;
}

article .level-4 h4,
article .level-5 h5,
article .level-6 h6 {
	font-size: 1.15rem;
}

.level-4 code,
.level-5 code,
.level-6 code {
	color: var(--tw-prose-headings);
	font-size: 1.05rem;
}

.heading-text {
	display: flex;
	flex-flow: row nowrap;
	align-items: flex-start;
	gap: 5px;
	margin: 2.5em 0 0.75em;
}

summary .heading-text {
	margin: 0;
}

.underline--magical {
	background-image: linear-gradient(to right, hsl(254.04 100% 55%), hsl(180 100% 49%));
	background-image: linear-gradient(to right, oklch(49.6% 0.307 278.18), oklch(88.4% 0.199 194.78));
	background-repeat: no-repeat;
	background-size: 100% 1px;
	background-position: 0 90%;
	transition: background-size 0.25s ease-in;
	line-height: 1.2;
}

details .underline--magical {
	background-image: none;
}

details .underline--magical h4 {
	font-size: 1rem;
}

.home .section-content h2 {
	margin: 1rem 0;
}

.home .section-content .normal-text {
	font-size: 0.9rem;
	margin: 1rem 0 0 0;
}

.home .section-content .normal-text a.icon,
.home .section-content .normal-text a.icon:hover {
	display: inline-block;
	color: hsl(76 100% 50%);
	color: oklch(92.22% 0.244 126.84);
	background-color: hsl(0 0% 0% / 0.4);
	height: 16px;
	width: 18px;
}
.home .section-content .normal-text span {
	color: var(--white-shade2);
	background-color: hsl(0 0% 0% / 0.4);
	font-weight: 400;
}
.home .section-content .normal-text .icon-wrapper {
	display: inline;
}

@media (min-width: 640px) {
	.home .section-content .normal-text {
		font-size: 1rem;
	}
}

@media (min-width: 768px) {
	.home .section-content .normal-text a.icon,
	.home .section-content .normal-text a.icon:hover {
			height: 19.5px;
			width: 25.5px;
	}
}

.featured-projects div.category-list {
	font-size: 0.75rem;
}

.featured-projects div.category-list .project-category {
	padding: 6px;
}

.featured-projects div.all-language-list {
	column-gap: 1rem;
	row-gap: 0.5rem;
	line-height: 1;
}

.featured-projects div.all-language-list button.filter-setting {
	margin: 0;
}

.featured-projects div.project-name-wrapper .filter-value,
.featured-projects div.all-language-list .filter-value {
	font-size: 0.75rem;
	color: var(--gray-shade1);
}

.code-details {
	margin: 0 0 20px;
}

.warning {
	--hue: 54;
	--text-color: hsl(54.67 100% 50%);
	--text-color: oklch(92.1% 0.221 102.285);
}

.note {
	--hue: 173;
	--text-color: hsl(173.22 100% 65%);
	--text-color: oklch(90.73% 0.159 184.005);
}

ul.warning {
	margin: 0 0 1.25rem 1.25em;
}

ul.warning,
ul.note,
.warning .bold-text,
.note .bold-text,
.warning strong,
.note strong,
article .custom-block p .emphasis {
	color: var(--text-color);
}

.custom-block {
	--border-color: hsla(var(--hue) var(--max-sat) var(--border-light) / var(--border-alpha));
	--bg-color: hsla(var(--hue) var(--max-sat) var(--bg-light) / var(--bg-alpha));

	display: flex;
	flex-flow: column nowrap;
	background-color: var(--bg-color);
	border-radius: 0;
	border: 2px solid var(--border-color);
	font-size: 0.85em;
	margin: 1.5rem 0;
	border-radius: 0;
	overflow-wrap: normal;
	overflow-x: auto;
}

ul.custom-block {
	margin: 0.25rem 0 0 1.25em;
	padding: 0;
}

ul.custom-block li {
	list-style-type: '■';
	margin: 0 0 0.5em;
}

.custom-block-top {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	gap: 0.5rem;
	line-height: 1.4;
	color: var(--text-color);
	background-color: var(--border-color);
	padding: 0;
}

.custom-block-icon {
	height: 16px;
	padding: 0 0 0 5px;
}

.warning .custom-block-icon {
	width: 21px;
}

.note .custom-block-icon {
	width: 15px;
}

.custom-block-title {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.5px;
}

.custom-block-message {
	display: flex;
	flex-flow: column nowrap;
	text-align: left;
	padding: 10px;
}

.custom-block-message p {
	font-size: 0.85rem;
	margin: auto 0;
	color: var(--text-color);
}

.custom-block-message code {
	color: var(--body-text);
}

.custom-block-message ul {
	margin: 0.5rem 0 0.5rem 2.25em;
}

.code-details ul li blockquote strong {
	color: var(--accent-color);
}

.list-of-links li::marker {
	color: var(--accent-color);
}

pre:not(.shiki) {
	background-color: #141414;
	border: 1px solid var(--dark-gray-shade2);
	font-size: 0.75rem;
	border-radius: 0;
}

.underline--magical code {
	color: var(--tw-prose-headings);
	background-color: inherit;
	border: none;
	padding: 0;
	letter-spacing: 0.25px;
}

.shiki code {
	display: flex;
	flex-flow: column;
	flex: 1;
	counter-reset: step;
	counter-increment: step calc(var(--start, 1) - 1);
	overflow-x: auto;
	max-width: 100%;
	padding: 0.5rem 1rem;
}

.shiki.linenos code {
	padding: 0;
}

.shiki.linenos code .line {
	padding: 0 1rem 0 0.5rem;
}

.shiki.linenos code .line:first-child {
	padding: 0.5rem 1rem 0 0.5rem;
}

.shiki.linenos code .line:last-child {
	padding: 0 1rem 0.25rem 0.5rem;
}

.shiki.linenos code .line.hl:last-child {
	padding: 0.25rem 1rem 0.25rem 0.5rem;
}

.shiki.linenos code .line:first-child:last-child {
	padding: 0.25rem 1rem 0.25rem 0.5rem;
}

.shiki .line {
	flex: 1;
}

.shiki.linenos .line::before {
	display: inline-block;
	content: counter(step);
	counter-increment: step;
	width: 1.5rem;
	margin: 0 1rem 0 0;
	text-align: right;
	font-variant-numeric: tabular-nums;
	color: var(--gray-shade3);
}

.shiki.linenos .hl::before {
	color: VAR(--accent-color);
}

.shiki-wrapper {
	display: flex;
	flex-flow: column nowrap;
	margin: 1rem auto 1rem;
	border-left: 1px solid var(--code-block-border-color);
	border-bottom: 1px solid var(--code-block-border-color);
}

.shiki {
	display: flex;
	flex-flow: column nowrap;
	font-size: 0.7rem;
	line-height: 1.6;
	border-radius: 0;
	border-top: none;
	border-right: 1px solid var(--code-block-border-color);
	border-bottom: none;
	border-left: none;
	padding: 0;
	margin: 0;
}

.shiki .line.hl {
	background: var(--hl-line-bg);
	background-repeat: no-repeat;
}

.shiki-wrapper .top-row {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: 25px;
}

.shiki-wrapper .lang-name-wrapper {
	display: grid;
	grid-template-columns: auto 28px;
	grid-template-rows: 25px;
	border-top: 1px solid var(--code-block-border-color);
	background-color: #141414;

	grid-column: 1 / span 1;
}

.shiki-wrapper .space-filler {
	border-top: none;
	border-right: none;
	border-bottom: 1px solid var(--code-block-border-color);
	border-left: none;

	grid-column: 2 / span 1;
}

.shiki-wrapper .top-row.success .lang-name,
.shiki-wrapper .top-row.success .copy-button {
	color: hsl(93.52 100% 50%);
	color: oklch(87.8% 0.312 137.52);
}

.shiki-wrapper .top-row.error .lang-name,
.shiki-wrapper .top-row.error .copy-button {
	color: hsl(349.38 100% 59%);
	color: oklch(65% 0.293 18.55);
}

.shiki-wrapper .lang-name,
.shiki-wrapper .copy-button {
	color: var(--gray-shade3);
	background-color: #141414;
	border-radius: 0;
	font-size: inherit;
	font-weight: 400;
	line-height: 1;
	white-space: nowrap;
	transition: color 0.25s ease-in;
}

.shiki-wrapper .lang-name {
	font-size: 0.8rem;
	padding: 0 4px 0 10px;
	letter-spacing: 0.5px;
	place-self: center;
	grid-column: 1 / span 1;
}

.shiki-wrapper .copy-button,
.shiki-wrapper .copy-button:hover,
.shiki-wrapper .copy-button:focus,
.shiki-wrapper .copy-button:active,
.shiki-wrapper .copy-button:active:focus {
	flex: 0 1 18px;
	background-color: #141414;
	border-top: none;
	border-right: 1px solid var(--code-block-border-color);
	border-bottom: none;
	border-left: none;
	padding: 0 10px 0 6px;
	cursor: pointer;

	grid-column: 2 / span 1;
}

.shiki-wrapper .success .lang-name,
.shiki-wrapper .success .copy-button,
.shiki-wrapper .success .copy-button:hover,
.shiki-wrapper .success .copy-button:focus,
.shiki-wrapper .success .copy-button:active,
.shiki-wrapper .success .copy-button:active:focus {
	color: hsl(93.52 100% 50%);
	color: oklch(87.8% 0.312 137.52);
}

.shiki-wrapper .error .lang-name,
.shiki-wrapper .error .copy-button,
.shiki-wrapper .error .copy-button:hover,
.shiki-wrapper .error .copy-button:focus,
.shiki-wrapper .error .copy-button:active,
.shiki-wrapper .error .copy-button:active:focus {
	color: hsl(349.38 100% 59%);
	color: oklch(65% 0.293 18.55);
	;
}

.light-blue {
	color: hsl(173.22 100% 65%);
	color: oklch(90.73% 0.159 184.005);
}

.white {
	color: var(--cmd-off-white2);
}

.gray {
	color: var(--cmd-mid-gray2);
}

.warning code,
.note code,
.orange code,
.red code,
.light-blue code,
.white code,
.gray code,
.pink code,
.teal code {
	color: var(--body-text);
}

code [class*="cmd-"] {
	font-size: 0.75rem;
}

.cmd-prompt {
	color: var(--cmd-prompt);
	padding: 0 0 7px;
}

.cmd-input,
.cmd-repl-input {
	color: hsl(93.52 100% 50%);
	color: oklch(87.8% 0.312 137.52);
	padding: 0 0 7px;
}

.cmd-venv {
	color: hsl(322.21 100% 64%);
	color: oklch(69.8% 0.313 346.56);
}

.cmd-results,
.cmd-repl-results {
	color: var(--cmd-results);
}

.cmd-comment,
.cmd-repl-prompt {
	color: hsl(173.22 100% 65%);
	color: oklch(90.73% 0.159 184.005);
}

.cmd-repl-comment {
	color: var(--cmd-repl-comment);
}

.cmd-warning {
	color: hsl(349.38 100% 59%);
	color: oklch(65% 0.293 18.55)
}

.cmd-lineno {
	color: var(--cmd-lineno);
	font-weight: 400;
}

.cmd-lineno-hl {
	color: hsl(54.67 100% 50%);
	color: oklch(92.1% 0.221 102.285);
	font-weight: 700;
}

.cmd-hl-teal {
	background-color: hsl(161.67 100% 49%);
	background-color: oklch(86.7% 0.257 162.2);
	color: var(--widget-bg-color);
}

.cmd-hl-purple {
	background-color: hsl(261, 100%, 55%);
	background-color: oklch(51.8% 0.304 286.07);
	color: var(--widget-bg-color);
}

.cmd-hl-magenta {
	background-color: hsl(322.21 100% 64%);
	background-color: oklch(69.8% 0.313 346.56);
	color: var(--widget-bg-color);
}

.cmd-hl-gold {
	background-color: hsl(31.45 100% 60%);
	background-color: oklch(78% 0.203 62.72);
	color: var(--widget-bg-color);
}

.cmd-hl-yellow {
	background-color: hsl(54.67 100% 50%);
	background-color: oklch(92.1% 0.221 102.285);
	color: var(--widget-bg-color);
}

.cmd-hl {
	background: var(--hl-line-bg);
}

.cmd-hl-border {
	border: 1px dotted var(--cmd-hl-border);
	padding: 0;
}

.tox-passed {
	color: hsl(93.52 100% 50%);
	color: oklch(87.8% 0.312 137.52);
}

.tox-skipped {
	color: hsl(54.67 100% 50%);
	color: oklch(92.1% 0.221 102.285);
}

.tox-failed,
.tox-error {
	color: hsl(349.38 100% 59%);
	color: oklch(65% 0.293 18.55);
}

.goldenrod {
	color: var(--cmd-yellow3);
}

.bold-text {
	font-weight: 700;
}

.bold-italics {
	color: var(--white-shade2);
	font-weight: 700;
	font-style: italic;
}

.emphasis {
	font-weight: 700;
	text-decoration: underline;
}

article p .bold-text,
article ul .bold-text,
article p .emphasis,
article ul .emphasis {
	color: var(--white-shade2);
}

.center {
	text-align: center;
	margin: 20px 0;
}

article a.eyeballs {
	font-size: 1.2rem;
	font-weight: 500;
	color: var(--accent-color);
}

article a.eyeballs:hover,
article a.eyeballs:active,
article a.eyeballs:focus,
article a.eyeballs:active:hover {
	color: var(--page-bg-color);
	background-color: hsl(76 100% 50%);
	background-color: oklch(92.22% 0.244 126.84);
}

article figure {
	text-align: center;
	display: block;
	margin: 0 auto 20px;
	width: 80%;
}

.vid-wrapper {
	text-align: center;
	width: 100%;
}

.vid-flex {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 0 20px 0;
}

.vid-flex .device-mock figure {
	display: flex;
	flex-flow: column nowrap;
	margin: 0;
	width: 100%;
	border-radius: 10px;
}

.vid-flex .device-mock figure {
	background-color: var(--page-bg-color);
}

.vid-flex .device-mock figcaption {
	margin: 10px 0 0 0;
	background-color: var(--page-bg-color);
}

.hero-buttons {
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-evenly;
	margin: 0 0 2rem 0;
}

.post-image figure {
	margin: 0;
	width: 100%;
}

article .hero-buttons a {
	color: var(--black-tint1);
	background-color: var(--accent-color);
	text-align: center;
	white-space: pre;
	flex: 0 1 40%;
	font-size: 1.5em;
	margin: 0;
	padding: 10px 20px;
	transition: all 0.4s linear;
	box-shadow: var(--outer-shadow);
}

article .hero-buttons a:hover,
article .hero-buttons a:active,
article .hero-buttons a:focus,
article .hero-buttons a:active:hover {
	color: var(--black-tint1);
	background-color: var(--accent-color-dim);
	text-decoration: none;
}

pre.project-structure {
	font-size: 0.75em;
	color: #7f7f7f;
	padding: 10px 15px;
}

pre .project-folder {
	color: #ae81ff;
	font-weight: 700;
}

pre .unmodified-file,
code.unmodified-file {
	color: #2196f3;
	font-weight: 500;
}

pre .work-file,
code.work-file {
	color: var(--cmd-green3);
	font-weight: 500;
}

pre .project-empty-file {
	color: #e2e2e2;
	font-weight: 500;
}

pre .key-label {
	font-weight: 700;
	color: #7f7f7f;
}

pre .project-structure-key {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	width: auto;
	max-width: -webkit-max-content;
	max-width: max-content;
	border: none;
}

pre .project-structure-key-wrapper {
	width: 100%;
	padding: 0;
	line-height: 1;
}

pre .key-item {
	flex: 0 0 auto;
	margin: 2px 5px;
}

.italics {
	font-style: italic;
}

.requirements .in-progress {
	color: #0ff;
}

.requirements .complete {
	color: #ff0;
}

.icon-inline {
	display: inline-block;
	width: 14px;
}

.fa-bullet-list {
	display: grid;
	grid-template-columns: 16px 1fr;
	gap: 0.5rem;
	align-items: flex-start;
	font-size: 0.8rem;
	margin: 0 0 15px 10px;
}

.fa-bullet {
	width: 14px;
	margin: 4px 0 0 0;
}

.fa-star {
	color: #ff0;
}

.fa-star-half-o {
	color: #0ff;
}

.requirements {
	font-size: 0.9em;
}

.requirements li {
	margin: 0.5rem 0 0.75rem 0.5rem;
}

.requirements li p {
	margin: 0;
}

div.requirements {
	background: #141414;
	border: 1px solid var(--dark-gray-shade2);
	padding: 10px 10px 5px;
}

.steps .title,
.requirements .title {
	font-size: 0.9em;
	font-weight: 700;
	padding: 0;
	margin: 0 0 5px;
}

/* TABLE STYLES */

table.tutorial thead .table-number,
table.tutorial thead .table-title {
	font-size: 0.85rem;
}

table.tutorial thead code {
	font-size: 0.75rem;
}

table.tutorial thead th.column-header,
table.tutorial thead th.column-header:first-child,
table.tutorial thead th.column-header:last-child {
	font-size: 0.85rem;
	vertical-align: bottom;
}

table.tutorial thead th.column-header sup {
	font-size: 0.8rem;
	top: -6px;
	right: 3px;
}

table.tutorial tbody td sup {
	font-size: 0.7rem;
	top: -6px;
	right: 1px;
}

table.tutorial tfoot td sup {
	font-size: 0.75rem;
	top: -4px;
	right: 1px;
}

table.tutorial tbody td {
	font-size: 0.8rem;
}

table.tutorial code {
	font-size: 0.675rem;
	background-color: inherit;
}

table.tutorial tbody td,
table.tutorial thead th.column-header {
	padding: 3px 5px;
	line-height: 1.25;
}

table.tutorial tbody td:first-child,
table.tutorial thead th.column-header:first-child {
	padding: 3px 3px 3px 5px;
}

table.tutorial tbody td:last-child,
table.tutorial thead th.column-header:last-child {
	padding: 3px 5px 3px 3px;
}

table tfoot td p:first-child {
	margin: 0 0 3px 0;
}

table.tutorial tfoor td {
	margin: 0 0 8px 0;
}

table.tutorial tfoot code {
	color: #0ff;
	background-color: var(--page-bg-color);
	padding: 0;
}

.tutorial .table-wrapper {
	margin: 0 auto 1rem;
}

.tutorial tr:first-child td.table-footer {
	padding: 15px 0 7px 7px;
}

.tutorial tr td.table-footer {
	padding: 7px 0 7px 7px;
}

.tutorial tr:last-child td.table-footer {
	padding: 7px 0 0 7px;
}

.table-wrapper {
	font-size: 0.85rem;
	line-height: 1.2;
	width: 100%;
	margin: 0 auto 2rem;
	padding: 0.75rem 0.5rem;
	background-color: #141414;
	border: 1px solid var(--dark-gray-shade2);
	white-space: nowrap;
}

ul .table-wrapper {
	margin: 1rem auto;
}

.responsive {
	overflow-x: auto;
	overflow-y: hidden;
	width: auto;
	margin: auto;
	padding: 0 0 5px;
}

.responsive table {
	width: auto;
	table-layout: auto;
	border: none;
	color: var(--gray-shade3);
	background-color: var(--page-bg-color);
	margin: 0 auto;
	line-height: 1.2;
}

.responsive th {
	font-weight: 700;
	border: none;
	background-color: var(--page-bg-color);
	color: var(--gray-shade3);
}

.responsive tbody th {
	color: var(--gray-shade3);
	font-size: 0.8rem;
	font-weight: 400;
}

.responsive tbody td {
	color: var(--white-shade3);
	border: 1px solid var(--accent-color);
}

#tutorial-part-5-table-2 .responsive tbody td:not(.last-column) {
	color: hsl(322.21 100% 64%);
	color: oklch(69.8% 0.313 346.56);
}

.responsive tfoot {
	padding-top: 10px;
}

.responsive table a {
	color: var(--accent-color);
	font-weight: 500;
}

.responsive .site-type,
.table-wrapper .aws-hosting-costs tbody th.site-type {
	border-left: none;
	border-right: none;
	border-bottom: 3px solid #7f7f7f;
}

.table-wrapper .aws-hosting-costs tbody .has-bottom-border-heavy {
	border-bottom: 3px solid #7f7f7f;
}

th.column-header,
.responsive thead tr th {
	background-color: var(--accent-color);
	color: var(--page-bg-color);
	line-height: 0.8;
	border: 1px solid var(--accent-color);
	vertical-align: middle;
	text-align: center;
	padding: 0;
}

th.first-column,
.responsive td.first-column,
.responsive tbody tr td:first-child,
.responsive thead tr th:first-child {
	border-left: 1px solid var(--accent-color);
	padding: 5px 5px 5px 8px;
	vertical-align: middle;
}

.responsive tbody tr th:first-child {
	border-left: none;
}

th.last-column,
.responsive td.last-column,
.responsive tbody tr td:last-child,
.responsive thead tr th:last-child {
	border-right: 1px solid var(--accent-color);
	padding: 5px 8px 5px 5px;
	vertical-align: middle;
}

.responsive td.last-row,
.responsive tbody tr:last-child td {
	border-bottom: 1px solid var(--accent-color);
}

.responsive td.table-footer {
	line-height: 1.3;
}

.table-wrapper thead td {
	font-size: 0.85rem;
	font-weight: 400;
}

.table-wrapper tfoot td,
.table-wrapper tfoot td p {
	font-size: 0.75rem;
	font-weight: 300;
}

.table-wrapper thead td,
.table-wrapper tfoot td {
	background-color: #141414;
	color: var(--white-shade3);
	border: none;
	padding: 5px;
	text-align: left;
}

.table-wrapper tfoot a {
	font-weight: 400;
}

.table-wrapper thead .table-number {
	color: var(--white);
	font-weight: 500;
}

.table-wrapper thead .table-title {
	color: var(--white);
	font-style: italic;
	font-weight: 400;
	font-size: 0.8rem;
	padding-bottom: 10px;
}

.table-wrapper tbody td {
	border: none;
	padding: 5px 8px;
	text-align: center;
	vertical-align: middle;
	font-weight: 400;
}

.table-wrapper .aws-hosting-costs tbody td {
	border-bottom: 1px solid #7f7f7f;
}

.table-wrapper .aws-hosting-costs thead th {
	border: none;
}

.table-wrapper .aws-hosting-costs tbody th {
	background-color: var(--page-bg-color);
	color: var(--gray-shade3);
	border-bottom: none;
	border-top: 1px solid #7f7f7f;
	border-left: 1px solid #7f7f7f;
}

.table-wrapper .aws-hosting-costs .pricing-model {
	border-bottom: none;
}

.table-wrapper .aws-hosting-costs tbody td {
	text-align: right;
}

.table-wrapper .aws-hosting-costs tbody td.first-column {
	border-left: 1px solid var(--accent-color);
}

.table-wrapper .aws-hosting-costs tbody td.last-column {
	border-right: 1px solid var(--accent-color);
}

.table-wrapper .aws-hosting-costs tbody td.last-row {
	border-bottom: 1px solid var(--accent-color);
}

.table-wrapper .aws-hosting-costs tbody td.common-config {
	border-left: 1px solid #7f7f7f;
}

.responsive .sub-heading {
	font-size: 0.85rem;
}

.responsive .numeric {
	text-align: right;
}

.table-wrapper tbody td.left {
	text-align: left;
}

tr:nth-child(odd) {
	background-color: var(--black-tint1);
}

tr:nth-child(even) {
	background-color: var(--black-tint3);
}

.pricing-table-1 {
	min-width: 650px;
	width: 100%;
}

table.aws-hosting-costs {
	margin-bottom: 1rem;
}

.readme *[id]~*[id],
.readme h1[id]:only-of-type,
.readme .level-1:only-of-type,
.readme .level-2:only-of-type,
.readme ul.toc {
	display: none;
}

.gradient {
	background-clip: padding-box, border-box;
	background-image: var(--gradient);
	background-origin: border-box;
	border: 1px double transparent;
	border-radius: 0.5rem;
}

#svelte {
	background-color: var(--page-bg-color);
	color: var(--body-text);
	width: 100%;
	min-width: 340px;
}

.copyable-text-area {
	position: absolute;
	height: 0;
	z-index: -1;
	opacity: 0.01;
}

.article-list a {
	color: var(--accent-color);
	text-decoration-line: none;
}

a.index-card .index-card-reactions,
a.index-card .index-card-date,
a.index-card .index-card-description {
	color: var(--body-text);
}

a.index-card:hover .index-card-title {
	text-decoration-line: underline;
}

a.index-card:hover {
	text-decoration-line: none;
}

.prose h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
	text-decoration-line: none;
}

.prose h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
	text-decoration-line: underline;
}

button {
	background-color: var(--button-bg-color);
}

button:hover {
	background-color: var(--button-hover-bg-color);
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
	content: '';
	margin-bottom: -0.098em;
	display: table;
}

.capsize::after {
	content: '';
	margin-top: -0.219em;
	display: table;
}

a.feature-card:hover {
	text-decoration-line: none;
}

a.feature-card>div {
	background-color: var(--page-bg-color);
}

a.feature-card:hover>div {
	background-color: var(--black-tint1);
}


/* 
  DEVICE MOCKUPS
*/

.device-mock {
	text-align: center;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

.device-mock:first-child {
	flex: 75%;
	max-width: calc(76% - 10px);
	margin: 0 10px 0 0;
}

.device-mock:last-child {
	flex: 25%;
	max-width: calc(26% - 10px);
	min-width: 144px;
	margin: 0 0 0 10px;
}

.mac-book-screen {
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	background-color: var(--black);
	border-top: 1px solid var(--dark-gray-shade2);
	border-left: 1px solid var(--dark-gray-shade2);
	border-right: 1px solid var(--dark-gray-shade2);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	width: 82%;
	margin: 0 auto;
}

.mac-book-webcam {
	flex: 0 0 6px;
	border-radius: 100px;
	background-color: var(--dark-gray);
	margin: 0;
}

.desktop-device-mock {
	border-top: none;
	border-top: 10px solid var(--black);
	border-left: 10px solid var(--black);
	border-right: 10px solid var(--black);
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom: none;
	width: 100%;
	margin: 0 auto;
}

.mac-book-bottom {
	display: flex;
	justify-content: center;
	height: 20px;
	width: 100%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: var(--white-shade3);
}

.mac-book-indent-wrapper {
	display: flex;
	flex-flow: column nowrap;
	width: 20%;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: var(--white-shade3);
}

.mac-book-indent-top {
	flex: 50%;
	background-color: var(--gray-shade3);
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.mac-book-indent-bottom {
	flex: 50%;
	background-color: var(--white-shade3);
}

.mobile-device {
	border: 8px solid var(--black);
	border-radius: 10px;
	outline: 1px solid var(--dark-gray-shade2);
	margin: 0;
}

.mobile-device-button {
	flex: 0 0 16px;
	border-radius: 100px;
	background-color: var(--dark-gray-shade2);
}

@media (min-width: 815px) {
	:root {
		--max-width: 725px;
	}
}