/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	/* Color Pallette */
	--rich-black1: hsl(226, 27%, 5%);
	--rich-black2: hsl(226, 27%, 10%);
	--rich-black3: hsl(226, 27%, 13%);
	--rich-black4: hsl(226, 27%, 15%);

	--black4: hsl(0, 0%, 0%);
	--black3: hsl(0, 0%, 5%);
	--black2: hsl(0, 0%, 10%);
	--black1: hsl(0, 0%, 15%);

	--dark-gray4: hsl(0, 0%, 20%);
	--dark-gray3: hsl(0, 0%, 25%);
	--dark-gray2: hsl(0, 0%, 30%);
	--dark-gray1: hsl(0, 0%, 35%);

	--gray4: hsl(0, 0%, 40%);
	--gray3: hsl(0, 0%, 45%);
	--gray2: hsl(0, 0%, 50%);
	--gray1: hsl(0, 0%, 60%);

	--light-gray4: hsl(0, 0%, 65%);
	--light-gray3: hsl(0, 0%, 70%);
	--light-gray2: hsl(0, 0%, 75%);
	--light-gray1: hsl(0, 0%, 80%);

	--white1: hsl(0, 0%, 85%);
	--white2: hsl(0, 0%, 90%);
	--white3: hsl(0, 0%, 95%);
	--white4: hsl(0, 0%, 100%);

	--red1: hsl(2, 100%, 35%);
	--red2: hsl(2, 100%, 45%);
	--red3: hsl(2, 100%, 55%);
	--red4: hsl(2, 100%, 75%);

	--orange1: hsl(19, 100%, 35%);
	--orange2: hsl(19, 100%, 45%);
	--orange3: hsl(19, 100%, 55%);

	--orange-yellow1: hsl(35, 100%, 35%);
	--orange-yellow2: hsl(35, 100%, 45%);
	--orange-yellow3: hsl(35, 100%, 55%);

	--yellow1: hsl(60, 100%, 35%);
	--yellow2: hsl(60, 100%, 45%);
	--yellow3: hsl(60, 100%, 55%);

	--yellow-green1: hsl(84, 100%, 35%);
	--yellow-green2: hsl(84, 100%, 45%);
	--yellow-green3: hsl(84, 100%, 55%);

	--green1: hsl(113, 100%, 20%);
	--green2: hsl(113, 100%, 30%);
	--green3: hsl(113, 100%, 40%);
	--green4: hsl(113, 100%, 70%);

	--blue-green1: hsl(165, 100%, 35%);
	--blue-green2: hsl(165, 100%, 45%); /* THEME */
	--blue-green3: hsl(165, 100%, 55%);
	--blue-green4: hsl(165, 100%, 75%);

	--dark-teal1: hsl(179, 100%, 15%);
	--dark-teal2: hsl(179, 100%, 25%);

	--teal1: hsl(179, 100%, 35%);
	--teal2: hsl(179, 100%, 45%);
	--teal3: hsl(179, 100%, 55%);

	--blue1: hsl(218, 100%, 25%);
	--blue2: hsl(218, 100%, 35%);
	--blue3: hsl(218, 100%, 45%);
	--blue4: hsl(218, 100%, 55%);

	--blue-gray0: hsl(221, 39%, 11%); /* gray-900 */
	--blue-gray1: hsl(215, 28%, 17%); /* gray-800 */
	--blue-gray2: hsl(217, 19%, 27%); /* gray-700 */
	--blue-gray4: hsl(220, 10%, 46%); /* gray-500 */

	--indigo1: hsl(251, 74%, 30%);
	--indigo2: hsl(251, 74%, 40%); /* THEME */
	--indigo3: hsl(251, 74%, 50%);
	--indigo4: hsl(251, 80%, 60%);

	--purple1: hsl(290, 100%, 35%);
	--purple2: hsl(290, 100%, 45%);
	--purple3: hsl(290, 100%, 55%);

	--pink1: hsl(315, 100%, 35%);
	--pink2: hsl(315, 100%, 45%);
	--pink3: hsl(315, 100%, 55%);

	/* Buttons & Accordion Items */

	--color-swatch-button-border-color: hsl(220deg 13% 91%);

	--default-border-color: var(--black2);
	--default-bg-color: var(--white1);
	--default-text-color: var(--black2);
	--default-hover-border-color: var(--black4);
	--default-hover-bg-color: var(--white3);
	--default-hover-text-color: var(--black4);
	--default-border-radius: 6px;
	--button-size: 32px;
	--square-button-size: 28px;

	--black-bg-color: var(--white3);
	--black-panel-bg-color: var(--white4);
	--black-hover-bg-color: var(--white3);
	--black-fg-color: var(--black2);
	--black-active-fg-color: var(--black4);
	--black-cw-bg-color: var(--white2);
	--black-cw-border-color: var(--white2);

	--red-hue: 335;
	--orange-hue: 39;
	--yellow-hue: 57;
	--green-hue: 140;
	--teal-hue: 175;
	--blue-hue: 210;
	--indigo-hue: 250;

	--background-sat: 100%;

	--background-light: 94%;
	--background-light-hover: calc(var(--background-light) + 5%);

	--fg-sat: 63%;
	--fg-sat-active: calc(var(--fg-sat) - 7%);

	--fg-light: 26%;
	--fg-light-active: calc(var(--fg-light) + 24%);
	--fg-light-disabled: calc(var(--fg-light) + 40%);

	--red-bg-color: hsl(var(--red-hue, 0) 100% 94%);
	--red-panel-bg-color: hsl(var(--red-hue, 0) 100% 99%);
	--red-hover-bg-color: hsl(var(--red-hue, 0) 100% 90%);
	--red-fg-color: hsl(var(--red-hue, 0) 63% 26%);
	--red-active-fg-color: hsl(var(--red-hue, 0) 56% 50%);
	--red-cw-bg-color: var(--red-bg-color);
	--red-cw-border-color: var(--red-border-color);

	--orange-bg-color: hsl(var(--orange-hue, 39) 100% 94%);
	--orange-panel-bg-color: hsl(var(--red-hue, 0) 100% 99%);
	--orange-hover-bg-color: hsl(var(--orange-hue, 39) 100% 90%);
	--orange-fg-color: hsl(var(--orange-hue, 39) 63% 26%);
	--orange-active-fg-color: hsl(var(--orange-hue, 39) 56% 50%);
	--orange-cw-bg-color: var(--orange-bg-color);
	--orange-cw-border-color: var(--orange-border-color);

	--yellow-bg-color: hsl(var(--yellow-hue, 60) 100% 94%);
	--yellow-panel-bg-color: hsl(var(--red-hue, 0) 100% 99%);
	--yellow-hover-bg-color: hsl(var(--yellow-hue, 60) 100% 90%);
	--yellow-fg-color: hsl(var(--yellow-hue, 60) 90% 30%);
	--yellow-active-fg-color: hsl(var(--yellow-hue, 60) 85% 50%);
	--yellow-cw-bg-color: var(--yellow-bg-color);

	--green-bg-color: hsl(var(--green-hue, 120) 100% 94%);
	--green-panel-bg-color: hsl(var(--red-hue, 0) 100% 99%);
	--green-hover-bg-color: hsl(var(--green-hue, 120) 100% 90%);
	--green-fg-color: hsl(var(--green-hue, 120) 63% 26%);
	--green-active-fg-color: hsl(var(--green-hue, 120) 56% 50%);
	--green-cw-bg-color: var(--green-bg-color);

	--teal-bg-color: hsl(var(--teal-hue, 180) 100% 94%);
	--teal-panel-bg-color: hsl(var(--red-hue, 0) 100% 99%);
	--teal-hover-bg-color: hsl(var(--teal-hue, 180) 100% 90%);
	--teal-fg-color: hsl(var(--teal-hue, 180) 63% 26%);
	--teal-active-fg-color: hsl(var(--teal-hue, 180) 56% 50%);
	--teal-cw-bg-color: var(--teal-bg-color);

	--blue-bg-color: hsl(var(--blue-hue, 180) 100% 94%);
	--blue-panel-bg-color: hsl(var(--red-hue, 0) 100% 99%);
	--blue-hover-bg-color: hsl(var(--blue-hue, 180) 100% 90%);
	--blue-fg-color: hsl(var(--blue-hue, 180) 63% 26%);
	--blue-active-fg-color: hsl(var(--blue-hue, 180) 56% 50%);
	--blue-cw-bg-color: var(--blue-bg-color);

	--indigo-bg-color: hsl(var(--indigo-hue, 180) 100% 94%);
	--indigo-panel-bg-color: hsl(var(--red-hue, 0) 100% 99%);
	--indigo-hover-bg-color: hsl(var(--indigo-hue, 180) 100% 90%);
	--indigo-fg-color: hsl(var(--indigo-hue, 180) 100% 25%);
	--indigo-active-fg-color: hsl(var(--indigo-hue, 180) 100% 50%);
	--indigo-cw-bg-color: var(--indigo-bg-color);
}

button {
	font-size: inherit;
}

/* Red */
.theme-button.red {
	background-color: var(--red-bg-color);
	border: 2px solid var(--red-fg-color);
	color: var(--red-fg-color);
	border-radius: var(--default-border-radius);
}

.theme-button.red:hover {
	background-color: var(--red-hover-bg-color);
}

.theme-button.red:active,
.theme-button.red:focus,
.theme-button.red:active:focus {
	background-color: var(--red-hover-bg-color);
	border: 2px solid var(--red-active-fg-color);
	color: var(--red-active-fg-color);
	outline: 1px solid transparent;
	outline-offset: 1px;
}

/* Orange */
.theme-button.orange {
	background-color: var(--orange-bg-color);
	border: 2px solid var(--orange-fg-color);
	color: var(--orange-fg-color);
	border-radius: var(--default-border-radius);
}

.theme-button.orange:hover {
	background-color: var(--orange-hover-bg-color);
}

.theme-button.orange:active,
.theme-button.orange:focus,
.theme-button.orange:active:focus {
	background-color: var(--orange-hover-bg-color);
	border: 2px solid var(--orange-active-fg-color);
	color: var(--orange-active-fg-color);
	outline: 1px solid transparent;
	outline-offset: 1px;
}

/* Yellow */
.theme-button.yellow {
	background-color: var(--yellow-bg-color);
	border: 2px solid var(--yellow-fg-color);
	color: var(--yellow-fg-color);
	border-radius: var(--default-border-radius);
}

.theme-button.yellow:hover {
	background-color: var(--yellow-hover-bg-color);
}

.theme-button.yellow:active,
.theme-button.yellow:focus,
.theme-button.yellow:active:focus {
	background-color: var(--yellow-hover-bg-color);
	border: 2px solid var(--yellow-active-fg-color);
	color: var(--yellow-active-fg-color);
	outline: 1px solid transparent;
	outline-offset: 1px;
}

/* Green */
.theme-button.green {
	background-color: var(--green-bg-color);
	border: 2px solid var(--green-fg-color);
	color: var(--green-fg-color);
	border-radius: var(--default-border-radius);
}

.theme-button.green:hover {
	background-color: var(--green-hover-bg-color);
}

.theme-button.green:active,
.theme-button.green:focus,
.theme-button.green:active:focus {
	background-color: var(--green-hover-bg-color);
	background-color: var(--green-hover-bg-color);
	border: 2px solid var(--green-active-fg-color);
	color: var(--green-active-fg-color);
	outline: none;
}

/* Teal */
.theme-button.teal {
	background-color: var(--teal-bg-color);
	border: 2px solid var(--teal-fg-color);
	color: var(--teal-fg-color);
	border-radius: var(--default-border-radius);
}

.theme-button.teal:hover {
	background-color: var(--teal-hover-bg-color);
}

.theme-button.teal:active,
.theme-button.teal:focus,
.theme-button.teal:active:focus {
	background-color: var(--teal-hover-bg-color);
	border: 2px solid var(--teal-active-fg-color);
	color: var(--teal-active-fg-color);
	outline: none;
}

/* Blue */
.theme-button.blue {
	background-color: var(--blue-bg-color);
	border: 2px solid var(--blue-fg-color);
	color: var(--blue-fg-color);
	border-radius: var(--default-border-radius);
}

.theme-button.blue:hover {
	background-color: var(--blue-hover-bg-color);
}

.theme-button.blue:active,
.theme-button.blue:focus,
.theme-button.blue:active:focus {
	background-color: var(--blue-hover-bg-color);
	border: 2px solid var(--blue-active-fg-color);
	color: var(--blue-active-fg-color);
	outline: none;
}

/* Indigo */
.theme-button.indigo {
	background-color: var(--indigo-bg-color);
	border: 2px solid var(--indigo-fg-color);
	color: var(--indigo-fg-color);
	border-radius: var(--default-border-radius);
}

.theme-button.indigo:hover {
	background-color: var(--indigo-hover-bg-color);
}

.theme-button.indigo:active,
.theme-button.indigo:focus,
.theme-button.indigo:active:focus {
	background-color: var(--indigo-hover-bg-color);
	border: 2px solid var(--indigo-active-fg-color);
	color: var(--indigo-active-fg-color);
	outline: none;
}

.transition-color {
	transition-property: color, background-color, border-color, transform;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 150ms;
}
