# Files
.env
.env.*
README.md
.git
.gitignore
npm-debug.log
.dockerignore
.dokku-monorepo
.eslintrc.cjs
.prettierrc
Dockerfile
docker-compose
LICENSE.md

# Directories
node_modules
test
dist
.github
.vscode
packages/svelte-color-tools
packages/lock-file-converter
apps/svelte-base64